.icon{
    font-size:24px;
}
#message {
    font-size: 12px;
    position: relative;
    top: -12px;
    left: 28px;
}

#notification {
    font-size: 12px;
    position: relative;
    top: -12px;
    left: 28px;
}
.small-box{
   /* background-color:rgba(0,0,0,0.2); */
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0,0.5));
}
.friendList-image img{
    width:80%;
}
.friend-info{
    height:100vh;
}
.friend-data{
    height:100vh;
}
.photo-edit-btn{   
    position:relative;
    bottom:-50px;
    left:-25px;
}

.lockscreen-logo img{
    width:20%;
}